<!-- A page for confirming if the user wants to log off -->

<!DOCTYPE html>
<html>
    <head>
        <title>Logout</title>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

            <!-- Creates the navigation bar, and references to respective pages-->
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #65037E;">
                <a class="navbar-brand" href="/main">Sham Answers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="profile">My Profile</a>
                        </li>
                                <li class="nav-item">
                                <a class="nav-link" href="admin">Statistics</a>
                                </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <a style='font-size:24px' class='fab' href="https://github.com/mxj316/ShamAnswers">&#xf09b;</a>
            </nav>

            <!-- Creates Yes and No buttons for logging out that each push the -->
            <!-- user to a new page                                            -->
            <div  class="container">
                <br>
                <h1 align="center">Sham Answers</h1>
                <hr/>

                <h2 align="center">Are you sure you want to log out?</h2>
                <div class="row">

                    <div class="col col-md-4">
                    </div>

                    <div class="col col-md-4">
                        <hr>
                        <form action="" method="post">
                            <input name="returnhome" type="submit" value="Yes" class="btn btn-secondary" href="start"/><hr/>
                            <input name="returnhome" type="submit" value="No" class="btn btn-secondary" href="main"/><hr/>
                        </form>
                    </div>
                    <div class="col col-md-4">
                    </div>
                </div>
            </div>
    </body>
</html>
