<!-- Page for viewing all of the answers for a question -->
<!-- jquery-comment github: https://github.com/Viima/jquery-comments -->

<!DOCTYPE html>

<html>
    <head>
        <title>Sham Answers</title>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

        <!-- Data -->
		<script type="text/javascript" src="data/comments-data.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
        <link rel="stylesheet" type="text/css" href="css/jquery-comments.css">
        <script type="text/javascript" src="js/jquery-comments.js"></script>

        <!-- Init jquery-comments -->
        <script type="text/javascript">
            			$(function() {
				var saveComment = function(data) {
					// Convert pings to human readable format
					$(data.pings).each(function(index, id) {
						var user = usersArray.filter(function(user){return user.id == id})[0];
						data.content = data.content.replace('@' + id, '@' + user.fullname);
					});
					return data;
				}
				$('#comments-container').comments({
					profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png',
					currentUserId: 1,
					roundProfilePictures: true,
					textareaRows: 1,
					enableAttachments: true,
					enableHashtags: true,
					enablePinging: true,
					getUsers: function(success, error) {
						setTimeout(function() {
							success(usersArray);
						}, 500);
					},
					getComments: function(success, error) {
						setTimeout(function() {
							success(commentsArray);
						}, 500);
					},
					postComment: function(data, success, error) {
						setTimeout(function() {
							success(saveComment(data));
						}, 500);
					},
					putComment: function(data, success, error) {
						setTimeout(function() {
							success(saveComment(data));
						}, 500);
					},
					deleteComment: function(data, success, error) {
						setTimeout(function() {
							success();
						}, 500);
					},
					upvoteComment: function(data, success, error) {
						setTimeout(function() {
							success(data);
						}, 500);
					},
					uploadAttachments: function(dataArray, success, error) {
						setTimeout(function() {
							success(dataArray);
						}, 500);
					},
				});
			});
		</script>

    </head>
    <body>

            <!-- Creates the navigation bar, and references to respective pages-->
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #65037E;">
                <a class="navbar-brand" href="/main">Sham Answers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="profile">My Profile</a>
                        </li>
                                <li class="nav-item">
                                <a class="nav-link" href="admin">Statistics</a>
                                </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <a style='font-size:24px' class='fab' href="https://github.com/mxj316/ShamAnswers">&#xf09b;</a>
            </nav>

            <!-- Displays the question, its author, and its category -->
            <div class="container">

                <br>
                <h1 align="center">   </h1>
                <hr/>

                <div class="col col-md-4">Question: {{ post }}</div>
                <div class="col col-md-4">By: {{ author }}</div>
                <div class="col col-md-4">Category: {{ category }}</div>

                <br>
                <h1 align="center">   </h1>
                <hr/>

                <div class="col col-md-4">Answer</div>

            </div>
	<!-- Input text box for submitting answers -->
                                                        
            <div class="container">

                <br>
                <h1 align="center">   </h1>
                <hr/>

                </form>
                <form class="form" method="post">
                    <fieldset>
		<div class="row">
                            <div class="form-group col-md">
                                <input name="text" type="text" name="letter" maxlength="2" size="2"><br>
                            </div>
	  <ul class="letters">
	{%for letter in comments%}
	<li>
	<h2>{{letter.name}} </h2>
	<!-- create class of ids to display-->
	<ul class='id'>
	{%for id in letter.id%}
	<li>{{id}}</li>
	<!-- create class of ids to display-->
	<ul class='votes'>
	{%for vote in letter.vote%}
	<li>{{vote}}</li>
	{%endfor%}
	</ul>
	</li>
	{%endfor%}
	</ul>
	</li>
	{%endfor%}
	</ul>
        <!-- Shows structure of answers -->
		<div id="comments-container"></div>

        <div class="container">
            {% for letter_data in comments %}
                <script>
                    document.write('<p id="' + {{ letter_data['id'] }} + '" name="' + {{ letter_data['creator'] }} + '" >{{ letter_data['content'] }} </p>')
                </script>
            {% endfor %}

        </div>

    </body>
</html>
